<a href="https://colab.research.google.com/github/sr-lake/AD.Python/blob/main/FIT_MCTI_IA_Introdu%C3%A7%C3%A3o_a_Python_AULA_1L10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Comando em Python utilizado para exibir texto na tela**

In [ ]:
print('Olá Mundo!!!')

print('Bom dia Alunos!!!')

Olá Mundo!!!
Bom dia Alunos!!!

**Exemplo de variáveis**

In [ ]:
a = 1                 #Nome de variáveis não podem começar com um número 
b = 3.2
nome = "Aristoteles"               #Linguagem dinamicamente tipada
curso = 'Curso Python'
s2 = 234

b = "O salario é 2400"

In [ ]:
print(a)
print(b)
print(nome)

1
3.2
Aristoteles

In [ ]:
print(type(a))
print(type(b))
print(type(nome))

<class 'int'>
<class 'float'>
<class 'str'>

**Nomes de variáveis**

In [ ]:
#Diferenciação de maiúsculas e minúsculas em Python

nome = 'Luisa'
sobrenome = 'Pereira'

print('Meu nome é', nome, sobrenome) #Case Sensitive

Meu nome é Luisa Pereira

**Palavras reservadas**

![image.png]()

**Lendo valores de entrada**

In [ ]:
usuario = input("Digite seu nome:")

Digite seu nome:luciana

In [ ]:
print("O nome digitado é:", usuario)

O nome digitado é: luciana

**Escreva um programa em Python que recebe dois números e mostra o resultado da soma e a diferença entre os dois.**

In [ ]:
n1 = input("Digite um número:")
n2 = input("Digite outro número:")

soma = n1 + n2
subtracao = n1 - n2

print(soma)
print(subtracao)

In [ ]:
#Verificando o tipo de dados 
print(type(n1))
print(type(n2))

<class 'str'>
<class 'str'>

In [ ]:
#Conversao de String (texto) para Número (Inteiro) 

n1 = int(input("Digite um número:"))
n2 = int(input("Digite outro número:"))

soma = n1 + n2
subtracao = n1 - n2

print("O valor da soma é:", soma)
print("O valor da subtração é:", subtracao)

Digite um número:10
Digite outro número:5
O valor da soma é: 15
O valor da subtração é: 5

**Formatações Exibição**

In [ ]:
meu_curso = "Introdução a Python"
meu_login = 'JANE'

print(meu_curso.upper(), meu_login.lower()) #upper - maiúsculo e lower - minúsculo

INTRODUÇÃO A PYTHON jane

In [ ]:
titulo = 'linguagem python'
titulo.capitalize()

'Linguagem python'

In [ ]:
frase = "apostila de python"
frase.title()

'Apostila De Python'

**Format() e %**

In [ ]:
a = 'céu'
b = 'nuvens'
c = 'sol'

print('Olho para o {} e vejo {} e também o {}'.format(a, b, c))

Olho para o céu e vejo nuvens e também o sol

In [ ]:
n1 = 100.0
n2 = 2.5

print('O record dos {} metros foi batido, com {} segundos abaixo do antigo record'.format(n1, n2))

O record dos 100.0 metros foi batido, com 2.5 segundos abaixo do antigo record

In [ ]:
r = "vermelho"
g = "verde"
b = "azul"

print("As cores básicas são: %s, %s e %s" % (r, g, b))

As cores básicas são: vermelho, verde e azul

In [ ]:
taxa = 5.5
ingresso = 120.12

print('O valor do ingresso é %.2f e a taxa de emissão é %.3f' % (taxa, ingresso))

O valor do ingresso é 5.50 e a taxa de emissão é 120.120

In [ ]:
print("%.2f" % taxa) #Float duas casas decimais
print("%.3f" % ingresso) #Float três casas decimais

5.50
120.120

**Outros exemplos de conversão int, float, str**

In [ ]:
valor1 = int(3.99999) #conversão float para inteiro
print(type(valor1))
print(valor1)

In [ ]:
valor2 = float(12) #conversao inteiro para float
print(type(valor2))
print(valor2)

In [ ]:
valor3 = float("123.45") #conversão str para float
print(type(valor3))

valor3 = int("23") #conversão str para int
print(type(valor3))

In [ ]:
valor4 = str(12.5) #conversao float para str
print(type(valor4))

valor5 = str(4) #conversao inteiro para str
print(type(valor5))

**Variável booleana**

In [ ]:
# Trabalhando com o tipo booleano (True / False)
varbol_0 = False
varbol_1 = True

print(type(varbol_0), type(varbol_1))

In [ ]:
verdadeiro = bool(1)
falso = bool(0)

print("Valor 0 é igual a: ", falso)
print("Valor 1 é igual a: ", verdadeiro)

**Operadores Aritméticos e Expressões**

In [ ]:
a = 12
b = 2.25
c = 4

soma = a + b
sub = a - b
mul = a * b
div = a / b
div2 = a // b 
exp = a ** 2   
resto = a % b

print("a + b =", soma)
print("a - b =", sub)
print("a * b =", mul)
print("a / b =", div)
print("a // b =", div2) 
print("a ** 2 =", exp)
print("resto da divisão de a por b =", resto)

**Atribuição aumentada**

In [ ]:
a = 50

a += 10 # o mesmo que a = a + 10
a

**Operadores Relacionais**

In [ ]:
a = 3
b = 5

print( a > b ) #verifica se a é maior que b
print( a == b ) #verifica se a é igual b
print( a != b ) #verifica se a é diferente que b
print( a < b ) #verifica se a é menor que b
print( a >= b ) #verifica se a é maior ou igual  b
print( a <= b ) #verifica se a é menor ou igual b

**Operadores lógicos (and (e), or (ou) e not (não))**

In [ ]:
a = True
b = False
c = True

result_and = a and b and c 

print(result_and)

In [ ]:
d = False
e = True
f = False

result_or = d or e or (4 == 6) 

print(result_or)

In [ ]:
v = False

f = not v
print(f)

**3.6 EXERCÍCIOS**

1. Armazene três números nas variáveis “a”, “b” e “c”, realize as operações solicitadas e armazene o resultado na variável "r". Exiba na tela o resultado de cada uma das operações realizadas:
 

*  r = a + b - c
*  r = a * (b + c)
*  r = (a + b) / c
*  r = (a + b + c) / 3

In [ ]:
#escreva seu código aqui

2. Utilize os valores de n1 = 2, n2 = 3, n3 = -1 e n4 = 8 e imprima na tela o resultado das expressões lógicas a seguir (True ou False).

*   n1 < n3
*   n3 == n4
*   n1 + n2 > n3
*   n3 / n1 < n4
*   n1 + n2 < 10 and n3 - n4 == n1
*   n3 / n2 > 0 or n1 + n3 > n4

In [ ]:
#escreva seu código aqui