<a href="https://colab.research.google.com/github/sr-lake/AD.Python/blob/main/FIT_Entrega_02_Pandas_SF_Salaries_Exercise_AD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercícios

Nestes exercícios vamos utilizar os dados de salários da cidade de São Francisco, [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) do site do [Kaggle](https://www.kaggle.com).

1. Importe pandas como pd.

In [ ]:
import pandas as pd

2. Leia o arquivo Salaries.csv e salve as informações no DataFrame sal.

In [27]:
sal = pd.read_csv('/content/Salaries.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

3. Verifique os primeiros registros de sal.

In [28]:
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

4. Use o método `info()` para descobrir o número de registros.

In [29]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

5. Qual é a média de BasePay?

In [ ]:
sal['BasePay'].mean()

69709.69291509117

6. Qual é o maior salário em OvertimePay no dataset?

In [ ]:
sal['OvertimePay'].max()

245131.88

7. Qual a profissão (JobTitle) de Courtney T Mcelrath?

In [30]:
name = 'Courtney T Mcelrath'
df = sal[(sal['EmployeeName'] == name)]
df['JobTitle']

148458    Pool Lifeguard
Name: JobTitle, dtype: object

In [31]:

sal[(sal['EmployeeName'] == 'Courtney T Mcelrath')]['JobTitle']

148458    Pool Lifeguard
Name: JobTitle, dtype: object

8. Quanto ela recebe incluindo os benefícios (TotalPayBenefits)?

In [32]:
sal[sal['EmployeeName'] == 'Courtney T Mcelrath']['TotalPayBenefits']

148458    197.03
Name: TotalPayBenefits, dtype: float64

9. Qual a pessoa mais bem paga incluindo os benefícios?

In [33]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()]['EmployeeName']

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

10. Qual a pessoa com o pior pagamento incluindo os benefícios?

In [34]:
sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].min()]['EmployeeName']

148653    Joe Lopez
Name: EmployeeName, dtype: object

11. Qual e média da base salárial (BasePay) de todos os funcionários no período de 2011-2014?

In [44]:
sal['BasePay']=pd.to_numeric(arg=sal['BasePay'],downcast='float',errors='coerce')
sal[(sal['Year']>=2011)]['BasePay'].mean()

66319.5234375

In [45]:
sal[(sal['Year']>=2011)]['BasePay'].mean()

66319.5234375

12. Quantas profissões diferente há nessa base de dados?

In [47]:
job=sal.groupby('JobTitle').count()
job['Id'].count()

2159

13. Quais são as 5 profissões mais comuns?

In [51]:
job=sal.groupby('JobTitle').count()
job=job['Id'].sort_values(axis=0,ascending=False)
job.iloc[:5]

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: Id, dtype: int64

14. Quantas profissões tinham apenas uma pessoa no ano de 2014?

In [55]:
sal[sal['Year']==2014].groupby('JobTitle').count()
sal['Id'].count()

148654

In [67]:
import numpy as np
import pandas as pd

15. Quantas pessoas tem a palavra 'Chief' na sua profissão (jobTitle)?

In [68]:
def v(x):
  if 'CHIEF' in x:
    return x
  else:
    return np.NAN
sal['JobTitle']=sal['JobTitle'].astype('string')
x=sal['JobTitle'].apply(v)
x=x.dropna()
x.count()

204

16. Há correlação (correlation) entre o tamanho do nome da profissão e o salário?

In [76]:
sal['JobTitle']=sal['JobTitle'].astype('string')
def T(x):
    return len(x)
sal['TJobTitle']=sal['JobTitle'].apply(T)
CR=sal[['TJobTitle','TotalPayBenefits']]
print(CR.corr())
print('Não existe co-relação')

                  TJobTitle  TotalPayBenefits
TJobTitle          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000
Não existe co-relação

In [49]:
sal.describe()

,Id,BasePay,TotalPay,TotalPayBenefits,Year,Notes
count,148654.000000,148045.000000,148654.000000,148654.000000,148654.000000,0.0
mean,74327.500000,66319.523438,74768.321972,93692.554811,2012.522643,NaN
std,42912.857795,42763.625000,50517.005274,62793.533483,1.117538,NaN
min,1.000000,-166.009995,-618.130000,-618.130000,2011.000000,NaN
25%,37164.250000,33588.199219,36168.995000,44065.650000,2012.000000,NaN
50%,74327.500000,65007.449219,71426.610000,92404.090000,2013.000000,NaN
75%,111490.750000,94691.046875,105839.135000,132876.450000,2014.000000,NaN
max,148654.000000,319275.000000,567595.430000,567595.430000,2014.000000,NaN